.sky {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at center, #001133, #000a22);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
    will-change: background-position; /* Mejora el rendimiento del movimiento */
  }